jsonpickle
tornado
click
git+https://github.com/johandahlberg/localq.git@with_shell_true # Get from pip in future - localq
git+https://github.com/arteria-project/arteria-core.git
mock # only for tests
pyyaml
illuminate
pandas

